<ng-container>
  <div class="container__global">
    <h1 class="title__pet">Pets</h1>
    <h4>Find the breed of the dog</h4>

    <mat-form-field class="example-full-width">
      <mat-label>Write a race or sub-race</mat-label>
      <input
        (ngModelChange)="detectInput($event)"
        [(ngModel)]="typePetInput"
        matInput
        placeholder="Ex. Pet"
      />
    </mat-form-field>

    <button
      style="align-items: center; align-content: center"
      mat-raised-button
      color="primary"
      (click)="searchPet()"
      [disabled]="disabled"
    >
      Search<mat-icon>search</mat-icon>
    </button>

    <br /><span>{{ notificationMessage }}</span>

    <div *ngIf="cardVisible">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ typePetInput | titlecase }}</mat-card-title>
        </mat-card-header>
        <div class="scroll__card">
          <div *ngFor="let item of imagePet">
            <img
              class="image__pet"
              mat-card-image
              [src]="item"
              alt="Photo pet"
            />
          </div>
        </div>

        <mat-card-content>
          <p>Sub-breed</p>
          <div class="actions__subbreed">
            <div *ngFor="let item of subBreed">
              <button *ngIf="item != 'Does not have sub-races'" mat-raised-button (click)="getSubBreed(item)">
                {{ item | titlecase }}
              </button>
              <span *ngIf="item == 'Does not have sub-races'"> {{ item | titlecase }}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
</ng-container>
