@import "../../../assets/styles/responsive.mixin.scss";

.container__global {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  text-align: center;
  padding-top: 10px;
.title__pet{
  font-size: 40px;
  color: rebeccapurple;
}
  .image__pet {
    width: 200px;
    height: 200px;
  }

  .scroll__card{
    width: 220px;
    height: 200px;
    overflow: scroll;
  }

  .actions__subbreed{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 3px;
  }
}

@include screen("phone") {
  .container__global {
    padding-top: 50px;
  }
}

@include screen("tablet-landscape") {
  .container__global {
    padding-top: 100px;
  }
}

@include screen("desktop") {
  .container__global {
    padding-top: 200px;
  }
}
