@import "../../../assets/styles/responsive.mixin.scss";

.container__global {
  .title__welcome {
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 55px;
  }

  h4 {
    color: rgb(38, 38, 109);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  text-align: center;
  padding-top: 150px;

  .button__home {
    padding: 0 100px 0 100px;
  }
}

@include screen("phone") {
  .container__global {
    padding-top: 250px;
  }
}

@include screen("tablet-landscape") {
  .container__global {
    padding-top: 150px;
  }
}

@include screen("desktop") {
  .container__global {
    padding-top: 200px;
  }
}
