<div class="container__global">
  <h1 class="title__welcome">Welcome</h1>
  <h4>Pet's Aplication</h4>
  <img [src]="imageHome" alt="" />
  <div class="button__home">
    <button  (click)="redirect()" class="button__home" mat-raised-button color="primary">
      Enter
    </button>
  </div>
</div>
