$breakpoints: (
  'phone' : 375px,
  'tablet-portrait': 768px,
  'tablet-landscape': 1024px,
  'desktop' : 1280px,
  'big-desktop': 1920px
) !default;

@mixin screen($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint){
      @media (min-width: map-get($breakpoints, $breakpoint)){
        @content;
      }
    }
    @else{
        @warn "Unfortunately,  can not be found. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
    }
  
  }